.chef-photo {
  width: 800px;
  height: 100vh;
}
.chef-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 79px;

  color: #121212;
}
.chef-banner {
    background: rgba(79, 157, 166, 0.2);
  padding: 60px;
}
.normal-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 36px;
}

@media screen and (max-width: 540px) {
  .carousel-img{
    width: 100%;
}
.chef-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  font-size: 8px;
  /* or 162% */

  color: #3e3e3e;
}
.chef-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  font-size: 8px;
  line-height: 28px;

  color: #363958;
}
}