.chef-photo {
  width: 800px;
  height: 100vh;
}
.chef-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 79px;

  color: #121212;
}
.chef-banner {
    background: rgba(79, 157, 166, 0.2);
  padding: 60px;
}
.normal-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 36px;
}
