.swiper-header {
  top: 0;
  margin-bottom: 100px;
}
.chef-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  color: #363958;
}
.chef-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  /* or 162% */

  color: #3e3e3e;
}
.swipe-card {
    background: #FFFBF0;
    box-shadow: 0px 10px 30px rgba(229, 204, 204, 0.05);
  border-radius: 20px;
}
.swipe--main{
    background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
    box-shadow: 0px 10px 30px rgba(229, 204, 204, 0.05);
}
@media screen and (max-width: 540px) {
  .carousel-img{
    width: 100%;
}
.chef-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  font-size: 8px;
  /* or 162% */

  color: #3e3e3e;
}
.chef-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  font-size: 8px;
  line-height: 28px;

  color: #363958;
}
}